<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-lg-12 pr-lg-0 pl-lg-0">
      <div class="row">
        <div class="col-lg-3">
          <div class="col-lg-12 p-0">
            <img src="assets/images/hakkimizda1.png" alt="kurumsal" title="kurumsal" class="img-responsive fullWidth">

          </div>
          <div class="col-lg-12 pt-2" align="center">
            <p class="mt-6" style="font-size:16px; font-weight:bold; line-height: 7px;">ADNAN CANDAN</p>
          </div>
          <div class="col-lg-12 pt-6">
            <p class="mt-6" style="font-size:12px;line-height: 5px;" align="center">YÖNETİM KURULU BAŞKANI</p>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="col-lg-12">
            <section>
              <article>
                <div class="container">
                  <div class="row mt-1">
                    <div class="col-lg-12 title">
                      <h1 class="text-lg-left text-sm-left pb-1 pr pt-0 mt-0"> Vizyon</h1>
                      <p class="mt-4 Vision__text">
                        Yeni fırsatlar yaratarak bulunduğu sektörde sürekli gelişen hizmetler ve yenilikler sunan
                        sektöründe söz sahibi bir grup olmaktır. <br><br>

                        Gerek teknolojik değişim, bilgi ve donanım ile gerekse rekabete açık, uzman yenilikçi
                        kadrolarımızla çalışanlarını taşıdığımız ve taşıyacak olduğumuz firmaların hiçbir koşulda zaman
                        kaybına uğramadan sorunlara anında kesin çözüm getiren bir anlayışla hizmette kalite temel
                        vizyonumuzdur.


                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
            <section>
              <article>
                <div class="container">
                  <div class="row mt-1">
                    <div class="col-lg-12 title">
                      <h1 class="text-lg-left text-sm-left pb-1 pr"> Misyon</h1>
                      <p class="mt-4 Vision__text">
                        Özcandan Seyahat personel taşımacılığındaki misyonu psikoteknik testlerinden başarıyla geçmiş ve
                        karayolu kanun ve yönetmeliklerine uygun belgelere sahip, kalitesi yüksek kadrosuyla, yaptığı
                        işin sorumluluğunu bilen modern ve konforlu araçlarıyla sektörünün lider markası olma yolunda
                        ilerlemektir. <br><br>

                        Özcandan Seyahat öğrenci taşımacılığındaki misyonu anne, baba ve sizler için çok değer
                        verdiğimiz çocuklarımızın okul ve kreşlerine en güvenli konforlu şekilde evlerinden okullarına,
                        okullarından evlerine güler yüzlü sürücü ve hosteslerimizle özen göstererek ulaştırmaktır.


                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
