/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/css/main.css */
/*! @import https://fonts.googleapis.com/css?family=Open+Sans:300,400,600 */
/*! CSS Used from: https://fonts.googleapis.com/css?family=Open+Sans:300,400,600 */
/*! end @import */
@media (max-width: 550.98px) {
  .fullWidth {
    width: 150%;
  }
}

p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.title h1 {
  border-bottom: 1px solid black;
  color: #252161;
  font-weight: 300;
  color: #252161;
  font-size: 36px;
}

@media (max-width: 575px) {
  section {
    text-align: center !important;
  }
}

@media (max-width: 668px) {
  section {
    text-align: center !important;
  }
}

/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/css/style.css */
@media (max-width: 357px) and (max-width: 767px) {
  .fullWidth {
    width: 150%;
  }
}

.fullWidth {
  width: 100%;
}

/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/css/media-queries.css */
@media (max-width: 415px) {
  h1 {
    font-size: 32px;
  }
}
/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/css/main.css */
/*! @import https://fonts.googleapis.com/css?family=Open+Sans:300,400,600 */
/*! CSS Used from: https://fonts.googleapis.com/css?family=Open+Sans:300,400,600 */
/*! end @import */
@media (max-width: 550.98px) {
  .fullWidth {
    width: 150%;
  }
}

p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.title h1 {
  border-bottom: 1px solid black;
  color: #252161;
  font-weight: 300;
  color: #252161;
  font-size: 36px;
}

@media (max-width: 575px) {
  section {
    text-align: center !important;
  }
}

@media (max-width: 668px) {
  section {
    text-align: center !important;
  }
}

/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/css/style.css */
@media (max-width: 357px) and (max-width: 767px) {
  .fullWidth {
    width: 150%;
  }
}

.fullWidth {
  width: 100%;
}

/*! CSS Used from: file:///home/mustafa/Downloads/ozcandanseyahat/assets/revolution/css/layers.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Vision__text {
  font-size: 1rem;
}
