<section class="container mb-5">
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 mt-4">
      <div class="col-md-12 borderTop">
        <div class="col-md-12 p-4 title">
          <address>
            <h1 class="pb-2 mb-3 lightertext">Kocaeli Merkez</h1>
            <div class="row mt-3">
              <div class="col-lg-6">
                Adres:<br>
                <p>
                  Izmit Sanayi Sitesi 9.Cadde<br>
                  101.Blok No:1 İzmit/Kocaeli
                </p>
              </div>
              <div class="col-lg-6 mt-2">
                Web<br>
                <a href="#">www.ozcandanseyahat.com</a>
              </div>

              <div class="col-lg-6 mt-2">
                Telefon:<br>
                <a href="tel:902623355606">+90 262 335 56 06</a>
              </div>
              <div class="col-lg-6 mt-2">
                E-posta:<br>
                <a href="mailto:info@katreinduksiyon.com">alican@ozcandanseyahat.com</a>
              </div>
              <div class="col-lg-6 mt-2">
                Fax:<br>
                <p>+90 262 335 56 26</p>
              </div>
              <div class="col-lg-6 mt-2">
                Gsm:<br>
                <a href="tel:902623355606">0 538 368 79 13</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 mt-4">
      <div class="col-md-12 borderTop">
        <div class="col-md-12 p-4 title">
          <address>
            <h1 class="pb-2 mb-3 lightertext">İzmit Şube</h1>
            <div class="row mt-3">
              <div class="col-lg-6">
                Adres:<br>
                <p>
                  Izmit Sanayi Sitesi 9.Cadde<br>
                  101.Blok No:1 İzmit/Kocaeli
                </p>
              </div>
              <div class="col-lg-6 mt-2">
                Web<br>
                <a href="#">www.ozcandanseyahat.com</a>
              </div>

              <div class="col-lg-6 mt-2">
                Telefon:<br>
                <a href="tel:902623355606">+90 262 335 56 06</a>
              </div>
              <div class="col-lg-6 mt-2">
                E-posta:<br>
                <a href="mailto:info@katreinduksiyon.com">alican@ozcandanseyahat.com</a>
              </div>
              <div class="col-lg-6 mt-2">
                Fax:<br>
                <p>+90 262 335 56 26</p>
              </div>
              <div class="col-lg-6 mt-2">
                Gsm:<br>
                <a href="tel:902623355606">0 538 368 79 13</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 mt-4">
      <div class="col-md-12 borderTop">
        <div class="col-md-12 p-4 title">
          <address>
            <h1 class="pb-2 mb-3 lightertext">İstanbul Şube</h1>
            <div class="row mt-3">
              <div class="col-lg-6">
                Adres:<br>
                <p>
                  Izmit Sanayi Sitesi 9.Cadde<br>
                  101.Blok No:1 İzmit/Kocaeli
                </p>
              </div>
              <div class="col-lg-6 mt-2">
                Web<br>
                <a href="#">www.ozcandanseyahat.com</a>
              </div>

              <div class="col-lg-6 mt-2">
                Telefon:<br>
                <a href="tel:902623355606">+90 262 335 56 06</a>
              </div>
              <div class="col-lg-6 mt-2">
                E-posta:<br>
                <a href="mailto:info@katreinduksiyon.com">alican@ozcandanseyahat.com</a>
              </div>
              <div class="col-lg-6 mt-2">
                Fax:<br>
                <p>+90 262 335 56 26</p>
              </div>
              <div class="col-lg-6 mt-2">
                Gsm:<br>
                <a href="tel:902623355606">0 538 368 79 13</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 mt-4">
      <div class="col-md-12 borderTop">
        <div class="col-md-12 p-4 title">
          <address>
            <h1 class="pb-2 mb-3 lightertext">Sakarya Şube</h1>
            <div class="row mt-3">
              <div class="col-lg-6">
                Adres:<br>
                <p>
                  Izmit Sanayi Sitesi 9.Cadde<br>
                  101.Blok No:1 İzmit/Kocaeli
                </p>
              </div>
              <div class="col-lg-6 mt-2">
                Web<br>
                <a href="#">www.ozcandanseyahat.com</a>
              </div>

              <div class="col-lg-6 mt-2">
                Telefon:<br>
                <a href="tel:902623355606">+90 262 335 56 06</a>
              </div>
              <div class="col-lg-6 mt-2">
                E-posta:<br>
                <a href="mailto:info@katreinduksiyon.com">alican@ozcandanseyahat.com</a>
              </div>
              <div class="col-lg-6 mt-2">
                Fax:<br>
                <p>+90 262 335 56 26</p>
              </div>
              <div class="col-lg-6 mt-2">
                Gsm:<br>
                <a href="tel:902623355606">0 538 368 79 13</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="contactForm">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 text-center mt-4">
        <input type="text" formControlName="ad" class="form-control form-control-lg inputrenk" placeholder="AD" required="">
      </div>
      <div class="col-lg-4 col-md-6 text-center mt-4">
        <input type="text" formControlName="soyad" class="form-control form-control-lg inputrenk" placeholder="SOYAD" required="">
      </div>
      <div class="col-lg-4 col-md-6 text-center mt-4">
        <input type="email" formControlName="email" placeholder="E-MAİL" class="form-control form-control-lg inputrenk"
               required="">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 text-center mt-4">
        <input type="text" formControlName="konu" class="form-control form-control-lg inputrenk" placeholder="KONU" required="">
      </div>
      <div class="col-lg-12  col-md-8 text-center mt-4">
        <textarea class="form-control inputrenk" formControlName="mesaj" required="" id="body" rows="10" style="resize:none;"
                  placeholder="MESAJINIZ"></textarea>
      </div>
      <div class="col-lg-3 mt-4 text-center">
        <button class="linkToAllBtn" (click)="formSubmit()">
          <i class="fa fa-angle-right mr-2" style="font-size:24px; font-weight:bold;"></i><span style="font-size:18px;font-weight:normal;">GÖNDER</span>
        </button>
      </div>
      <div class="col-12 mt-5" *ngIf="sended">
        <div class="alert alert-success" role="alert">
          MESAJINIZ BAŞARIYLA GÖNDERİLMİŞTİR.
        </div>
      </div>
    </div>
  </form>

</section>
