<section class="mt-5">
  <div class="container-fluid mainbanner homeMidBanner">
    <div class="row pt-5 mt-5">
      <div class="container pt-5 pb-5 ">
        <div class="row pt-lg-5 pt-0 pb-5 d-flex justify-content-end">

          <div class="col-lg-5 col-12 mt-3">
            <a href="blog/yuzey-sertlestirme-metodlari.html">
              <div class="pl-2" style="border-left: 5px solid #e3000f">
                <div style="border-left: 9px solid #e3000f" class="pl-3">
                  <p class="Parallax__title font-weight-bold">Özcandan Kalitesine <br> Bir Adım Uzaktasınız</p>
                </div>
              </div>
              <p style="color:white; font-weight:bold; font-size:15px;">Bizimle hemen iletişime geçin. Özcandan
                güvencesi ve kalitesiyle tanışmış olmanın keyfini siz de yaşayın.</p>
            </a>
            <div class="col-sm-6 mt-4 px-0">
              <a href="iletisim.html" class="linkToAllBtn">
                <i class="fa fa-angle-right mr-2" style="font-size:24px; font-weight:bold;"></i><span style="font-size:18px;font-weight:normal;">İLETİŞİM</span>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
