<section class="Hero container-fluid p-0 m-0 position-relative">
  <div class="siema">
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-button [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-button>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider1.webp" type="image/webp"/>
        <source srcSet="assets/images/slider1.jpg" type="image/jpeg"/>
        <img src="assets/images/slider1.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-button [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-button>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider1.webp" type="image/webp"/>
        <source srcSet="assets/images/slider1.jpg" type="image/jpeg"/>
        <img src="assets/images/slider1.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-button [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-button>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider1.webp" type="image/webp"/>
        <source srcSet="assets/images/slider1.jpg" type="image/jpeg"/>
        <img src="assets/images/slider1.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
  </div>
</section>
