<section class="Hero container-fluid p-0 m-0 position-relative">
  <div class="siema">
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-buttonhizmet [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-buttonhizmet>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider3.webp" type="image/webp"/>
        <source srcSet="assets/images/slider3.jpg" type="image/jpeg"/>
        <img src="assets/images/slider3.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-buttonhizmet [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-buttonhizmet>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider1.webp" type="image/webp"/>
        <source srcSet="assets/images/slider1.jpg" type="image/jpeg"/>
        <img src="assets/images/slider1.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
    <div class="div position-relative">
      <div class="container Hero__text">
        <p class="Hero__text--title font-weight-bold">Yüksek Konfor ile Kaliteli <br> Yolculuğa Hazır mısınız?</p>
        <p class="Hero__text--desc">Profesyonel ekibimiz ile kaliteli ve konforlu, <br>
          yolculuğu vaad ediyoruz. Siz de bu keyfi yaşamaya ne dersiniz?</p>
        <app-buttonhizmet [text]="'TEKLİF İSTE'" [destination]="'/'" class="d-none d-md-block"></app-buttonhizmet>
      </div>
      <picture className="w-100 hero-big">
        <source srcSet="assets/images/slider2.webp" type="image/webp"/>
        <source srcSet="assets/images/slider2.jpg" type="image/jpeg"/>
        <img src="assets/images/slider2.jpg" class="w-100 Hero__img"/>
      </picture>
    </div>
   
  
  </div>

  <p style="position:absolute; 
  color: rgba(255, 255, 255, .3);
  font-size: 3rem;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold; 
  padding:50px;
  " class="Hero__slider--prev"> < </p>

 
 <p style="position:absolute;    
 color: rgba(255, 255, 255, .3);
 font-size: 3rem;
 right: 10px;
 top: 50%;
 transform: translateY(-50%);
 cursor: pointer;
 font-weight: bold;
 padding:50px; " class="Hero__slider--next"> > </p>

  
</section>
