<section>
  <article>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-12 title2">
          <h1 class="text-lg-center text-sm-left pb-3 pr">
            <div class="ortadiv">
              <img src="assets/images/personel.png" alt="Hızlı Teslim" title="Hızlı Teslim">&nbsp;Personel Taşımacılığı </div></h1>
          <p class="mt-4 text-center">
            ÖZCANDAN SEYAHAT personel tatşımacılığı alanında güvenli, konforlu ve zamanlı bir şekilde taşımacılık hizmeti sunmaktadır.
            İş verimliliğini arttırmak için personellerinizin ulaşımını kolaylaştırmak istediğiniz de, yine geniş bir ağa ve araç filosuna sahip olan ÖZCANDAN SEYAHAT güvenebilirsiniz.

            Araçlarının konforlu olmasına dikkat eden firmamız, tüm kurallar çerçevesinde gerekli kişi sayısına uygun kapasitede araçlar ile hizmet verm ektedir. Her iki koşulda da hizmet verecek olan personellerinin eğitimine önem veren ve gerekli bilgi donanımına sahip kişilerden seçimler yapmakta olan firmamız, müşterilerini memnun etmek için büyük bir çaba sarf etmektedir. Çünkü her yaştan insanın bir noktadan, başka bir noktaya ulaştırılmasını kısa sürede gerçekleştiren firmamız, son teknolojik cihazları ve güvenlik tedbirlerini almaktadır.

            Böylece sevdiklerinizi ve üzerinde sorumluluk sahibi olduğunuz kişileri gözünüz arkada kalmadan firmamızın araçlarına ve şoförlerine emanet edebilirsiniz.
          </p>
        </div>
      </div>
      <div class="row mt-2 justify-content-md-center">

        <div class="col-lg-3 text-center ">
          <app-button [text]="'Teklif İste'"></app-button>

        </div>
      </div>
    </div>
  </article>
</section>

<section>
  <article>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-12 title2">

          <h1 class="text-lg-center text-sm-left pb-3 pr"> <div class="ortadiv"><img src="assets/images/ogrenci.png" alt="Hızlı Teslim" title="Hızlı Teslim">&nbsp;Öğrenci Taşımacılığı</div></h1>
          <p class="mt-4" align="center">
            Hayatta en çok değer verdiğiniz varlıklarınız olan çocuklarınızın eğitimini sürdürdükleri kurumlar olan okullarına güvenli bir şekilde ulaştırılmalarını ve aynı güven ile evlerine ulaştırılmalarını  istiyorsanız ÖZCANDAN farkıyla taşımacılık hizmetlerinden faydalanabilirsiniz. En çok dikkat edilmesi gereken hizmetlerden birisi olan
            öğrenci taşımacılığında güvenli bir şekilde okullarına ve evlerine ulaşımları sağlanmaktadır.

            Okul taşımacılığında görevli olan ÖZCANDAN SEYAHAT personeli taşımacılık ve şoförlük konusunda oldukça bilgili ve iyi bir eğitimden geçirilerek işe alınmaktadır.  Bu nedenle öğrenci taşımacılığında son derece güvenli ve konforlu bir hizmet ÖZCANDAN SEYAHAT tarafından sunulmaktadır.

            Okul taşımacılığında öncü gelen firmalardan biridir ve bu alanda yükselişi de devam etmektedir.
          </p>
        </div>
      </div>
      <div class="row mt-2 justify-content-md-center">

        <div class="col-lg-3 text-center ">
          <app-button [text]="'Teklif İste'"></app-button>
        </div>
      </div>
    </div>
  </article>
</section>

<section>
  <article>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-12 title2">
          <h1 class="text-lg-center text-sm-left pb-3 pr"> <div class="ortadiv"><img src="assets/images/vip.png" alt="Hızlı Teslim" title="Hızlı Teslim"> &nbsp;VIP Taşımacılık</div></h1>
          <p class="mt-4" align="center">
            Özellikle seçkin konuklarını lüks araçlarla ağırlamak isteyenler için sunulan VİP hizmette hem konforlu hem de kaliteli bir taşımacılık hizmeti sağlanmaktadır. Firmamız tüm ulaşım ihtiyaçlarında güven ve konforu bir arada sunmaktadır. ÖZCANDAN SEYAHAT kaliteli ve güvenli taşımacılık hizmetleriyle müşterilerine farklı seçenekler sunmaktadır. Firmamız kaliteli hizmet anlayışıyla, taşımacılık hizmetinde kendini kanıtlamış lider firmalar arsında yer almaktadır.

            Personel ve öğrenci taşımacılığı hizmetleri dışında ÖZCANDAN SEYAHAT, filo kiralama hizmetleri de sunmaktadır. Uygun fiyat ve kaliteli hizmet anlayışıyla filo kiralama işlerinizi ÖZCANDAN SEYAHAT aracılığı ile sağlayabilirsiniz. Kiralamak istediğiniz en son model araç filoları için iletişim kurabilir ve modern araçlar ile ulaşım sağlamanın rahatlığını ve konforunu derinden yaşayabilirsiniz.

            Sürekli büyümekte olan araçlarımızın çeşitlerini ve özelliklerini yakından takip etmek için web sayfalarımızı sürekli olarak takip etmeye devam edebilirsiniz.
            En uygun fiyatlara ve en kaliteli hizmete firmamız aracılığı ile ulaşmanız mümkündür.
          </p>
        </div>
      </div>
      <div class="row mt-2 justify-content-md-center" style="
    padding-bottom: 20px;">

        <div class="col-lg-3 text-center ">
          <app-button [text]="'Teklif İste'"></app-button>
        </div>
      </div>
    </div>
  </article>
</section>


<section class="Service--hr mt-5">
  <article>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6 mr-lg-0 pr-lg-0">
          <img src="assets/images/h1.jpg" class="w-100 pr-lg-5">
        </div>
        <div class="col-lg-6  mt-4 text-lg-right text-center ">
          <div class="col-lg-12 text-left Service__title">
            <h1 style="
    padding-bottom: 10px;">Doğaya Duyarlı Yaklaşım</h1>
            <p class="mt-3">
              Çevre bizi kuşatan hava, içtiğimiz su, beslendiğimiz toprak, genel olarak tüm canlıların yaşama ortamıdır. Biz Özcandan olarak bunun farkındayız.Doğaya karşı ilgisiz kalmıyor,modern ve konforlu araçlarımızla ona cevap veriyor,onun sesini hissediyoruz.
            <br><br>
            Bu hayat sadece bizim değil. Bunun farkındayız. Araç kapasitemizin üstünde yolcu taşımıyor,araçlarımızın periyodik bakımları düzenli olarak yapılıyor ve egzoz emisyon testlerinden başarıyla geçiyoruz.
            </p>
          </div>

        </div>
      </div>
    </div>
  </article>
</section>

<section class="Service--hr">
  <article>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6 mr-lg-0 pr-lg-0">
          <img src="assets/images/h2.jpg" class="w-100 pr-lg-5">
        </div>
        <div class="col-lg-6  mt-4 text-lg-right text-center ">
          <div class="col-lg-12 text-left Service__title">
            <h1 style="
    padding-bottom: 10px;">Taşımacılıkta Güvenlik</h1>
            <p class="mt-3">
              
            Yaptığımız işin sorumluluğun farkındayız. Bu yüzden gelişen teknolojiye ayak uyduruyor, son model,konforlu ve rahat araçlarımızla, size güvenilir ve kaliteli bir yolculuğun garantisini veriyoruz.
            <br><br>
            Mutluluğunuz her zaman bizim önceliğimizdir.Müşteri odaklı değil,önce insan düşüncesiyle yola çıkıyoruz. Güvenli ve rahat ulaşımın tadına bakmanız için sizleri bekliyoruz.
          </p>
          </div>

        </div>
      </div>
    </div>
  </article>
</section>


<section class="Service--hr">
  <article>
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-6 mr-lg-0 pr-lg-0">
          <img src="assets/images/h3.jpg" class="w-100 pr-lg-5">
        </div>
        <div class="col-lg-6  mt-4 text-lg-right text-center ">
          <div class="col-lg-12 text-left Service__title">
            <h1 style="
    padding-bottom: 10px;">Kocaelide Özcandan Seyahat</h1>
            <p class="mt-3">
             
              Kocaeli'de değişen beklentilere zamanında uygun çözümler üreterek,uzman ve yenilikçi kadromuzla,sektöründe lider araçlarla, kalite ve konfor temel vizyonumuzdur.
            <br><br>
            Kocaeli'de, bilgi ve donanımımızla seyahata çağ atlatacak yeniliklerle, Konforlu ve rahat ulaşıma bir adım uzaktasınız
            </p>
          </div>

        </div>
      </div>
    </div>
  </article>
</section>
