<div class="container px-0 Certificate mt-5 mb-5">
  <h2 class="text-center w-100 Certificate__title">Sertifikalar</h2>
  <hr style="border-width: 1px; border-color: black">
  <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center Certificate__border">
      <img src="assets/images/2ser.png" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center Certificate__border Certificate__border--2">
      <img src="assets/images/3ser.png" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center Certificate__border">
      <img src="assets/images/4ser.png" alt="">
    </div>
    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
      <img src="assets/images/5ser.png" alt="">
    </div>
  </div>
</div>
