<app-banner [imagePath]="'assets/images/genel_banner.png'" [bannerText]="'Referanslarımız'"></app-banner>
<div class="container pt-4 d-flex flex-column align-items-center">
  <h1 class="w-100 text-center mt-5 pb-3 mb-3" style="border-bottom: 1px solid black; color: #252161;">Özcandan Seyahat Referansları</h1>
  <p class="text-center mt-5 mb-5">
    Yıllardır müşteri memnuniyeti odaklı çalışan firmamız her sektörden kurumsal firmaların ihtiyaçlarına en iyi şekilde cevap vermiştir. Hizmet kalitemizi seçen ve bizimle çalışmayı tercih eden referanslarımızı öğrenmek için bizimle iletişime geçebilirsiniz
  </p>
  <app-button [text]="'Bize Ulaşın'" class="mb-5"></app-button>
</div>
