<section>
  <div class="container mt-5 homeOpening">
    <div class="row">
      <div class="col-md-12 pl-lg-12">
        <div class="col-md-12">
          <h1 class="text-center"><b>Çağla Turizm</b><br>Hakkında</h1>
          <p class="pt-2"></p>
          <p class="text-center">
            Seyahat yeni fırsatlar yaratarak bulunduğu sektörde sürekli gelişen hizmetler ve yenilikler sunan sektöründe
            söz sahibi bir grup olmaktır. Gerek teknolojik değişim, bilgi ve donanım ile gerekse rekabete açık, uzman
            yenilikçi kadrolarımızla
            çalışanlarını taşıdığımız ve taşıyacak olduğumuz firmaların hiçbir koşulda zaman kaybına uğramadan sorunlara
            anında kesin çözüm
            getiren bir anlayışla hizmette kalite temel vizyonumuzdur.
          </p>
          <p></p>
        </div>
      </div>

    </div>
  </div>
  <app-categories></app-categories>
</section>
